# Ignore virtual environment
venv_mac/

# macOS system file
.DS_Store

# PyCharm project files (optional, if you want to reduce clutter)
.idea/

# Python cache and build artifacts
__pycache__/
*.py[cod]
*.egg-info/

# Environment files and logs
.env
*.log
